@font-face {
    font-family: "Concert One";
    src: url("fonts/concert-one.ttf");
}

@font-face {
    font-family: "CF Caltre";
    src: url("fonts/cf-caltre.ttf");
}

:root {
    --accent-90: #738D76;
    --accent-80: #5f7962;
    --accent-60: #3f5f43;
    --accent-40: #2d4830;
    --accent-20: #213323;
    --background-90: #D3CFC5;
    --background-80: #dfdacc;
    --background-60: #c2bdae;
    --background-40: #978f7c;
    --background-20: #726c5d;
    --background-10: #43413b;
    --background-00: #1e1e1e;
    --transparent-80: #1e1e1ebe;
    --transparent-60: #1e1e1e8f;
    --transparent-40: #1e1e1e6e;
    --transparent-20: #1e1e1e2f;
    --transition-speed: 150ms;
    --shake-duration: 400ms;
    --shake-distance: 0.15em;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: clamp(16px, 4.8vh, 40px);
    padding: 0%;
    margin: 0%;
}