@font-face {
    font-family: "Concert One";
    src: url("fonts/concert-one.ttf");
}

@font-face {
    font-family: "CF Caltre";
    src: url("fonts/cf-caltre.ttf");
}

:root {
    --accent-80: #5f7962;
    --accent-60: #3f5f43;
    --accent-40: #2d4830;
    --accent-20: #213323;
    --background-80: #c2bdae;
    --background-60: #dfdacc;
    --background-40: #978f7c;
    --background-20: #726c5d;
    --background-10: #43413b;
    --background-00: #1e1e1e;
}

body {
    background-color: var(--accent-80);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 4vh 8vw;
    font-size: clamp(16px, 4vh, 40px);
}

/* calculator */
#calculator {
    background-color: var(--background-60);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 14em;
    margin-top: 1em;
    border-radius: .6em;
    padding: .4em;
    z-index: 1;
}

/* keypad */
/* grid */
#keypad {
    display: grid;
    grid-template-areas:
        "c c c e"
        "n n n o"
        "n n n o"
        "n n n o"
        "n n n o";
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: var(--button-spacing);
    --button-width: 2em;
    --button-spacing: .2em;
}

#clear-buttons-subgrid {
    grid-area: c;
    display: grid;
    grid-template-columns: subgrid;
}

#operator-buttons-subgrid {
    grid-area: o;
    display: grid;
    grid-template-rows: subgrid;
}

#number-buttons-subgrid {
    grid-area: n;
    display: grid;
    grid-template-columns: subgrid;
    gap: var(--button-spacing);
}

#equals {
    grid-area: e;
}

#all-clear {
    grid-column: span 2;
}

/* buttons */
.button {
    font-family: "Concert One";
    font-size: 1em;
    width: var(--button-width);
    border: none;
    border-radius: .3em;
}

.button:hover {
    filter: brightness(0.95);
}

.button:active {
    filter: brightness(0.9);
}

.number-button,
.button#decimal,
.clear-button#clear {
    color: var(--background-20);
    background-color: var(--background-80);
}

.operator-button {
    color: var(--background-10);
    background-color: var(--background-40);
}

.clear-button#all-clear {
    color: var(--background-10);
    background-color: var(--background-40);
    width: var(--button-width) * 2;
}

.button#equals {
    color: var(--accent-40);
    background-color: var(--accent-80);
}

/* display */
#display-wrapper {
    background-color: var(--background-00);
    font-family: "CF Caltre", "Concert One";
    font-weight: bolder;
    border-radius: .4em;
    padding: .8em;
}

#display {
    background-color: var(--accent-60);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    aspect-ratio: 2.4;
    border-radius: .4em;
    padding: .2em;
}

/* previous calculation */
#previous-calculation {
    display: flex;
    justify-content: end;
    color: var(--accent-40);
    font-size: .6em;
}

/* current calculation */
#current-calculation {
    display: grid;
    grid-template-areas:
        "f f"
        "o s";
    grid-template-columns: 0.5em 1fr;
    gap: .2em;
    text-align: end;
    color: var(--accent-20);
    font-size: 1em;
}

#current-first-number {
    grid-area: f;
}

#current-second-number {
    grid-area: s;
}

#current-operation {
    grid-area: o;
}

/* menu */
#menu {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 1.2em;
    gap: .4em;
}

.menu-button {
    z-index: 10;
    filter: invert(5%) sepia(1%) saturate(3465%) hue-rotate(314deg) brightness(104%) contrast(86%);
}

/* scrolling text */
#scrolling-text {
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotate(60deg);
}

.scrolling-text-row {
    font-family: "Concert One";
    color: var(--accent-60);

    width: 40%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    gap: .4em;

}

#scrolling-text-wrapper {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    gap: .4em;
    overflow: hidden;
    animation: scrolling-animation 12s linear infinite;
}

#scrolling-item {
    white-space: nowrap;
    user-select: none;
    position: relative;
    z-index: -1;
}










#scroll-container {
    --scroll-repeat-gap: .4em;
    font-family: "Concert One";
    color: var(--accent-60);
    width: 400%;
    overflow: hidden;
    position: absolute;
    transform: translateY(-40%) rotate(60deg);
}

.scroll-row {
    display: flex;
    gap: var(--scroll-repeat-gap);
}

.scroll-row ul {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    gap: var(--scroll-repeat-gap);
    list-style: none;
    white-space: nowrap;
    user-select: none;
    width: fit-content;
    min-width: 100%;
    padding-left: 0%;
    margin: 0%;
    animation: scrolling-animation 48s linear infinite;
}

@keyframes scrolling-animation {
    to {
        transform: translate(calc(var(--scroll-repeat-gap) * -1 - 100%));
    }
}