:root {
    --accent-80: #5F7962;
    --accent-60: #3F5F43;
    --accent-40: #2D4830;
    --background-80: #C2BDAE;
    --background-60: #DFDACC;
    --background-40: #978F7C;
    --background-20: #726C5D;
    --background-10: #43413B;
    --background-00: #1E1E1E;
}

body {
    background-color: var(--background-00);
    display: flex;
    justify-content: center;
}

/* calculator */
#calculator-form {
    border-radius: .8em;
    background-color: var(--background-60);
    width: clamp(200px, 50%, 400px);
    aspect-ratio: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2%;
}

/* keypad */
/* grid */
#keypad {
    height: 45%;
    display: grid;
    grid-template-areas:
        'c c c o'
        'n n n o'
        'n n n o'
        'n n n o'
        'n n n e'
    ;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);

}

#clear-buttons-subgrid {
    grid-area: c;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#operator-buttons-subgrid {
    grid-area: o;
    display: grid;
}

#number-buttons-subgrid {
    grid-area: n;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#equals {
    grid-area: e;
}

#all-clear {
    grid-column: span 2;
}

/* buttons */
.button {
    font-size: 1.1em;
    font-weight: bolder;
    border-radius: .4em;
    border: 0px;
    margin: 4%;
    color: var(--background-20);
    background-color: var(--background-80);
}

.operator-button {
    color: var(--background-10);
    background-color: var(--background-40);
}

.clear-button#all-clear {
    color: var(--background-10);
    background-color: var(--background-40);
}

.button#equals {
    color: var(--accent-40);
    background-color: var(--accent-80);
}

/* display */
#display-wrapper {
    width: 100%;
    aspect-ratio: 2;
    background-color: var(--background-00);
    border-radius: .8em;
}

#display {
    width: 80%;
    aspect-ratio: 2;
    background-color: var(--accent-60);
    border-radius: .8em;
    margin: 10%;
}
