:root {
    --bkg-primary: var(--accent-60);
    --bkg-secondary: var(--accent-80);

    --bkg-scroll-timer: 128s;
    --bkg-scroll-angle: 60deg;

    --bkg-scroll-li-gap: .4em;
}

/* scrolling text */
#scroll-container-wrapper {
    background-color: var(--bkg-secondary);
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#scroll-container {
    z-index: 0;
    font-family: "Concert One";
    color: var(--bkg-primary);
    height: 200%;
    width: 100%;
    overflow: visible;
    position: absolute;
    transform: translateY(-100%) rotate(var(--bkg-scroll-angle));
}

.scroll-row {
    z-index: 0;
    display: flex;
    gap: var(--bkg-scroll-li-gap);
}

.scroll-row ul {
    z-index: 0;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    gap: var(--bkg-scroll-li-gap);
    list-style: none;
    white-space: nowrap;
    user-select: none;
    width: fit-content;
    min-width: 100%;
    padding-left: 0%;
    margin: 0%;
    animation: scrolling-animation var(--bkg-scroll-timer) linear infinite;
    animation-play-state: paused;
}

.running .scroll-row ul {
    animation-play-state: running;
}

@keyframes scrolling-animation {
    to {
        transform: translate(calc(var(--bkg-scroll-li-gap) * -1 - 100%));
    }
}