:root {
    --calculator-background: var(--background-80);
    --calculator-shadow: var(--background-00);

    --calculator-button-width: 2em;
    --calculator-button-spacing: .2em;

    /* colors */
    --calc-btn-all-clear-primary: var(--background-40);
    --calc-btn-all-clear-secondary: var(--background-20);
    --calc-btn-all-clear-accent: var(--background-10);

    --calc-btn-clear-primary: var(--background-60);
    --calc-btn-clear-secondary: var(--background-40);
    --calc-btn-clear-accent: var(--background-20);

    --calc-btn-digit-primary: var(--background-60);
    --calc-btn-digit-secondary: var(--background-40);
    --calc-btn-digit-accent: var(--background-20);

    --calc-btn-operator-primary: var(--background-40);
    --calc-btn-operator-secondary: var(--background-20);
    --calc-btn-operator-accent: var(--background-10);

    --calc-btn-equals-primary: var(--accent-80);
    --calc-btn-equals-secondary: var(--accent-60);
    --calc-btn-equals-accent: var(--accent-40);
}

/* calculator */
#calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: var(--calculator-background);
    box-shadow: 0px 0px 40px 0px var(--background-00);

    height: 14em;
    z-index: 10;
    border-radius: .6em;
    padding: .4em;
}

/* grid */
#keypad {
    display: grid;
    grid-template-areas:
        "a a c e"
        "d d d o"
        "d d d o"
        "d d d o"
        "z z p o";
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: var(--calculator-button-spacing);
}

#all-clear {
    grid-area: a;
    grid-column: span 2;
}

#clear {
    grid-area: c;
}

#equals {
    grid-area: e;
}

#digits {
    grid-area: d;
    display: grid;
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
}

#point {
    grid-area: p;
}

#zeroes {
    grid-area: z;
    display: grid;
    grid-template-columns: subgrid;
}

#operators {
    grid-area: o;
    display: grid;
    grid-template-rows: subgrid;
}

/* buttons */
.calc-btn {
    font-family: "Concert One";
    font-size: 1em;
    width: var(--calculator-button-width);
    border: none;
    border-radius: .3em;
    margin-bottom: .15em;
    transition: all var(--transition-speed);
}

.calc-btn#all-clear {
    color: var(--calc-btn-all-clear-accent);
    background-color: var(--calc-btn-all-clear-primary);
    box-shadow: .0em .15em 0px 0px var(--calc-btn-all-clear-secondary);
}

.calc-btn#all-clear {
    width: calc(var(--calculator-button-width) * 2 + --calculator-button-spacing);
}

.calc-btn#clear {
    color: var(--calc-btn-clear-accent);
    background-color: var(--calc-btn-clear-primary);
    box-shadow: .0em .15em 0px 0px var(--calc-btn-clear-secondary);
}

.calc-btn.digit,
.calc-btn#point {
    color: var(--calc-btn-digit-accent);
    background-color: var(--calc-btn-digit-primary);
    box-shadow: .0em .15em 0px 0px var(--calc-btn-digit-secondary);
}

.calc-btn.operator {
    color: var(--calc-btn-operator-accent);
    background-color: var(--calc-btn-operator-primary);
    box-shadow: .0em .15em 0px 0px var(--calc-btn-operator-secondary);
}

.calc-btn#equals {
    color: var(--calc-btn-equals-accent);
    background-color: var(--calc-btn-equals-primary);
    box-shadow: .0em .15em 0px 0px var(--calc-btn-equals-secondary);
}

.calc-btn.pressed#all-clear,
.calc-btn.pressed#clear,
.calc-btn.pressed#equals,
.calc-btn.pressed#point,
.calc-btn.pressed.digit,
.calc-btn.pressed.operator {
    box-shadow: none;
    margin-bottom: 0em;
    margin-top: .15em;
}