@media only screen and (min-width: 600px) {
    /* hide mobile components */
    .menu .top-bar {
        display: none;
    }

    .menu .menu-item .button span {
        display: none;
    }
    
    /* style desktop components */
    /* style menu */
    .menu {
        z-index: 2;
        width: 100%;
    }
    
    .menu nav {
        margin: 6vh 12vw;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0.5em;
    }

    /* style menu items */
    .menu .menu-item {
        position: relative;
    }

    .menu .menu-item:first-child {
        margin-right: auto;
    }

    .menu .menu-item .button {
        height: 1.5em;
        aspect-ratio: 1;
        border-radius: 2em;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu .menu-item .button:hover {
        background-color: var(--transparent-20);
    }

    .menu .menu-item.active .button {
        background-color: var(--transparent-80);
    }

    .menu .menu-item .button img {
        height: 90%;
        filter: invert(0%) sepia(3%) saturate(86%) hue-rotate(337deg) brightness(97%) contrast(77%);
    }

    .menu .menu-item.active .button img {
        filter: invert(98%) sepia(0%) saturate(160%) hue-rotate(182deg) brightness(116%) contrast(100%);
    }

    .menu .menu-item.themes .dropdown,
    .menu .menu-item.settings .dropdown {
        right: 0%;
    }

    .menu .menu-item .dropdown {
        position: absolute;
        display: none;

        width: max-content;
    }

    .menu .menu-item.active .dropdown {
        display: flex;
        flex-direction: column;
        gap: .1em;

        margin: 0%;
        margin-top: .4em;
        padding: 1.2em .8em;
        border-radius: 1em;

        list-style: none;
        font-size: 1.2rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: var(--text-tertiary);
        background-color: var(--transparent-80);
    }


    .menu .menu-item.active .dropdown h1 {
        font-size: 1.8em;
        color: white;

        margin: 0%;
        margin-bottom: .2em;
    }

    .menu .menu-item.active .dropdown h2 {
        font-size: 1.2em;
        color: var(--text-secondary);
        
        margin: 0%;
        margin-top: .4em;
    }

    .menu .menu-item.active .dropdown li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.2em;
    }

    .menu .menu-item.active .dropdown a {
        text-decoration: none;
        color: var(--link-primary);
    }
    
    .menu .menu-item.active .dropdown a:hover {
        text-decoration: underline;
    }
}