

@media only screen and (max-width: 600px) {
    .hamburger-button {
        height: 1.6em;
        margin-right: .4em;

        border-radius: 2em;
        padding: .1em;
        
        filter: invert(45%) sepia(37%) saturate(231%) hue-rotate(76deg) brightness(91%) contrast(89%);
        transition: all var(--transition-speed);
    }

    .hamburger-button img {
        height: 100%;
    }

    .open .hamburger-button {
        filter: invert(98%) sepia(0%) saturate(160%) hue-rotate(182deg) brightness(116%) contrast(100%);
    }

    #menu-wrapper .title {
        margin-left: .4em;
        color: var(--accent-80);
        background-color: var(--accent-20);
        padding: .2em .5em;
        border-radius: 2em;
        font-weight: bolder;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #menu-wrapper {
        z-index: 11;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--background-00);
        width: 100%;
        padding: 3vh 0vw;
        margin-bottom: 10vh;
        box-shadow: 0px 0px 40px 0px var(--background-00);
    }

    #menu {
        display: none;
    }

    #menu-wrapper.open #menu {
        display: flex;
        position: absolute;
        flex-direction: column-reverse;
        justify-content: start;
        top: 13%;
        height: 120vh;
        border-top: .05em solid var(--background-90);
        background-color: var(--background-00);
        padding: 1em .4em;
        gap: .4em;
        width: 100%;
        box-sizing: border-box;
    }

    .dropdown {
        display: flex;
        flex-direction: column;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: var(--background-40);
        font-weight: bolder;
        font-size: 1.0rem;
    }

    .dropdown .m-heading {
        font-size: 2em;
    }

    .dropdown.active {
        color: white;
    }

    .dropdown .menu-button.icon {
        display: none;
    }

    .dropdown .menu-page {
        font-size: 1.3em;
        display: none;
        position: relative;
        list-style: none;
        padding: 0%;
        margin: 0%;
        gap: .4em;
        margin-bottom: 1em;
        font-weight: normal;
        color: var(--background-80);
    }

    .dropdown.active .menu-page {
        display: flex;
        flex-direction: column;
    }

    .dropdown .menu-page h1 {
        display: none;
    }

    .setting {
        display: flex;
        justify-content: space-between;
    }

    .dropdown .menu-page a {
        /* text-decoration: none; */
        color: var(--accent-90);
    }
}
