body {
    background-color: rgb(32, 32, 32);
    display: flex;
    justify-content: center;
}

.calculator {
    padding: 2%;
    background-color: rgb(153, 153, 153);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    aspect-ratio: 2/3;
}

.panel {
    height: 25%;
        background-color: darkslategray;
}

.calculation {
    background-color: blanchedalmond;
    display: flex;
    justify-content: end;
}

.buttons {
    display: grid;
    grid-auto-flow: column;
}

.button {
    aspect-ratio: 4/3;
}

.clears {
    display: grid;
    grid-area: 1 / 1 / 2 / 4;
    grid-template-columns: repeat(3, 1fr);
}

.numbers {
    display: grid;
    grid-area: 2 / 1 / 6 / 4;
    grid-template-columns: repeat(3, 1fr);
}

.operators{
    display: grid;
    grid-area: 1 / 4 / 6 / 5;
}

#all-clear {
    grid-column: span 2;
    aspect-ratio: 8/3;
}
