body {
    background-color: rgb(32, 32, 32);
    font-size: 5vw;
    display: flex;
    justify-content: center;
}

.calculator {
    padding: 2%;
    background-color: rgb(131, 131, 131);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    aspect-ratio: 2/3;
}

.panel {
    height: 25%;
    background-color: darkslategray;
    border: 2dvw solid black;
    display: flex;
    justify-content: end;
    align-items: center;
}

.number {
    width: 80%;
}

.calculation {
    background-color: slategray;
    display: flex;
    justify-content: center;
    align-items: start;
}

#operation {
    width: 15vw;
}

.buttons {
    display: grid;
    grid-auto-flow: column;
}

.button {
    aspect-ratio: 4/3;
}

.number-button {
    color: white;
    background-color: black;
}

.operator-button {
    background-color: grey;
}

.clear-button {
    background-color: brown;
}

.clears {
    display: grid;
    grid-area: 1 / 1 / 2 / 4;
    grid-template-columns: repeat(3, 1fr);
}

.number-buttons {
    display: grid;
    grid-area: 2 / 1 / 6 / 4;
    grid-template-columns: repeat(3, 1fr);
}

.operator-buttons{
    display: grid;
    grid-area: 1 / 4 / 6 / 5;
}

#equals {
    background-color: green;
}

#all-clear {
    grid-column: span 2;
    aspect-ratio: 8/3;
}
